<div class="index-container">
  <% pending_bookings.each do |booking| %>
    <div class="card listing-index-card">
      <div class="d-flex">
      <% @listing = Listing.find(booking.listing.id) %>
        <div>
          <% if @listing.photos.attached? %>
            <%= cl_image_tag @listing.photos[0].key, class:"listing-index-image" %>
          <% else %>
            <%= image_tag "apartment3.jpg", alt: "apartment", width: 150, class:"listing-index-image" %>
          <% end %>
        </div>

        <div class="listing-index-content d-flex flex-column">
          <div class="flex-grow-1">
            <p>Booked by: <% User.find(booking.buyer_id).username %></p>
            <p>Email: <% User.find(booking.buyer_id).email %></p>
            <p>Approval status: <% booking.aproval_status %></p>
            <p>Duration of stay: <% booking.days_to_stay %></p>
            <p>Total price: <% booking.total_fee %></p>
          </div>

          <div class="d-flex justify-content-end">
            <%= link_to "Review booking for approval", booking_review_path(booking), class:"p-1 text-decoration-none" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>