.notification-index{
  width: calc(100% - 10rem);
  margin: 0 auto;

  .notification-index-single{

    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .delete-notification{
    font-size: 1rem;
    color: black;
  }
}

.parent-notification{
  position: relative;
}

.child-notification{
  position: absolute;
  top: 9px;
  right: -8px;
  font-size: 0.5rem;
}

.notification-count{
  background-color: red;
  color: white;
  padding: 3px 7px 3px 7px;
  border-radius: 50%
}