<% @bookings.each do |booking| %>
  <div class="card">
    <% @user = User.find(booking.lister_id) %>
    <% @listing = Listing.find(booking.listing.id) %>
    <%= booking.aproval_status %>
    <%= booking.start_date %> - <%= booking.end_date %>
    <%= @user.username %>
  </div>
<% end %>