<div class="navbar">
  <div class="container-fluid">
    <div class="logo">
      <%= image_tag "airbnb_logo_detail.jpg", alt: "Airbnb", width: 150, class: "rounded-5" %>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>